<form action="/products/add" name="add-product" method="post" enctype="application/x-www-form-urlencoded">
  <fieldset>
    <legend>Add a new product</legend>
    <div>
      <label>Title</label>
      <input type="text" name="title" placeholder="{{title}}" />
    </div>
    <div>
      <label>Description</label>
      <textarea name="description" placeholder="{{description}}"></textarea>
    </div>
  </fieldset>
  <button type="submit">Save</button>
</form>