<ul itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
  {{#each products}}
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
    <img alt="Photo of {{title}}" itemprop="image" src="{{imageUrl}}">
    <a itemprop="url" href="/products/{{id}}" title="{{title}}">
      <span itemprop="title">{{title}}</span>
    </a>
    <form action="/products/{{id}}?_method=DELETE" method="post">
      <input type="hidden" name="_method" value="DELETE"/>
      <button type="submit">del</button>            
    </form>
  </li>
  {{/each}}
</ul>
<div id="sku">
  {{> availability/product }}
</div>