<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    form {
      border-color: #e7e7e7;
    }
    form fieldset {
      border: none;
    }
    form fieldset label{
      display: block;
    }
    form fieldset>div{
      margin-bottom: 1em;
    }
    nav form {
      padding: 10px 15px;
      margin-top: 8px;
      margin-right: -15px;
      margin-bottom: 8px;
      margin-left: -15px;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
    }
    @media (min-width: 768px)
      nav .left {
        float: left!important;
      }

    @media (min-width: 768px)
      nav form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        box-shadow: none;
      }
  </style>
  <body>
    <header>
      <h1>{{title}}</h1>
      <nav>
        <a href="/">Home</a>
        <a href="/products">Products</a>
        <a href="/products/add">Add a Product</a>
      </nav>
    </header>
    <main class="app">
      {{{body}}}
    </main>
  </body>
  <script type="module">
    import App from "./App.mjs"
    window.addEventListener("load", e => {
      App.init(window)
    }, true)
  </script>
</html>